---
import { formatDateByTimeZone } from '@/lib/utils'
import getLastUpdatedTime from '@/pages/api/_services/github/repoInfo'

interface Props {
  class?: string
}

const data = await getLastUpdatedTime('jestsee', 'jestsee.com')

if (!data) return

const date = new Date(data.pushedAt)

const formattedDate = formatDateByTimeZone(date)

const { class: className } = Astro.props
---

{
  data ? (
    <p class:list={['text-xs min-[961px]:self-end', className]}>
      Last updated by Jesica <br class='xs:hidden' /> on {formattedDate} UTC+7
    </p>
  ) : (
    // TODO: handle error
    <p>Something went wrong 😔</p>
  )
}
