---
import { Suitcase } from '@icons/Suitcase'

import Link from '@/components/Link'

import BentoBadge from '../BentoBadge'
import IPhoneMockup from '@/components/IPhoneMockup.astro'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
---

<Link
  href='https://www.biblebreathing.app'
  aria-label='Featured work'
  target='_blank'
  class:list={[
    'relative flex h-full gap-3 overflow-hidden rounded-[inherit] px-5 pb-8 pt-4 max-md:flex-col',
    'max-xs:pb-36 md:max-lg:gap-4'
  ]}
>
  <div class='space-y-8 max-md:z-40'>
    <BentoBadge icon={Suitcase} className={{ component: 'w-fit' }} />
    <div class='space-y-3'>
      <p class='text-xl leading-none'>Bible Breathing</p>
      <p class='text-sm leading-relaxed text-slate-400'>
        Find peace through gentle breathing and verses.
      </p>
    </div>
  </div>
  <div
    class:list={[
      'w-full overflow-hidden rounded-xl bg-gradient-to-b from-[#F3FFF2] via-[#A7DBAA] to-[#356D39]',
      'max-md:-mb-3 max-md:mt-3 max-md:aspect-[2] max-sm:aspect-[1.25] max-xs:-mb-[7.75rem] md:-mr-1 md:h-[108%]'
    ]}
  >
    <IPhoneMockup class:list='scale-[.9] md:-mt-2.5'>
      <div class='w-full'>
        <LottieAnimation
          src='/bible-breathing-session.json'
          autoplay='visible'
        />
      </div>
    </IPhoneMockup>
  </div>
</Link>

<style>
  .hidden-notification-card {
    scale: 0;
    filter: blur(32px);
    transition-all: all 0.3s;
  }

  .show-notification-card {
    scale: 1 !important;
    filter: blur(0);
  }
</style>
