---
import type { UnresolvedImageTransform } from 'astro'
import { getImage, Image as AstroImage } from 'astro:assets'

import { alignClass, type CustomImageProps } from './types'

type Props = CustomImageProps

const {
  class: className,
  wrapperProps,
  ambientMode,
  align = 'top',
  ...rest
} = Astro.props

const blurryImage = await getImage({
  ...(rest as UnresolvedImageTransform),
  width: 20
})

const getImageKey = async (src: Props['src']) => {
  if (typeof src === 'string') return src
  if (src instanceof Promise) return (await src).default.src

  return src.src
}

const imageKey = await getImageKey(rest.src)

const { class: wrapperClass, ...restWrapperProps } = wrapperProps ?? {}
---

<div
  class:list={[
    'blur-load h-fit w-fit bg-cover',
    alignClass[align].wrapper,
    { 'ambient-mode': ambientMode },
    wrapperClass
  ]}
  data-image-key={imageKey}
  transition:name={`${imageKey}-transition`}
  {...restWrapperProps}
>
  <AstroImage
    class:list={[
      'object-cover',
      alignClass[align].image,
      'h-[inherit] max-h-[inherit] rounded-[inherit]',
      className
    ]}
    {...rest}
  />
</div>

<style define:vars={{ 'bg-image': `url(${blurryImage.src})` }}>
  .blur-load {
    background-image: var(--bg-image);
    filter: blur(36px);
    transition: filter 300ms ease-in-out;
  }

  .blur-load.image-loaded {
    filter: blur(0);
  }

  .blur-load.image-loaded > img {
    opacity: 1;
  }

  .blur-load > img {
    opacity: 0;
    transition: all 300ms ease-in-out;
  }

  .ambient-mode {
    position: relative;
  }

  .ambient-mode::before {
    position: absolute;
    max-width: 100vw;
    overflow-x: hidden;
    width: 105%;
    height: 105%;

    background-image: var(--bg-image);
    background-size: cover;
    filter: blur(64px);
    opacity: 25%;
    z-index: -10;

    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  // it's safe to put the script here instead of BaseLayout
  // because scripts are bundled and only included once per page
  // source: https://docs.astro.build/en/guides/client-side-scripts/

  type WindowWithLoadedImageSources = Window & {
    __loadedImageSources?: Set<string>
  }

  const getLoadedImageSources = () => {
    const scopedWindow = window as WindowWithLoadedImageSources
    scopedWindow.__loadedImageSources ??= new Set<string>()

    return scopedWindow.__loadedImageSources
  }

  const getImageSource = (image: HTMLImageElement) =>
    image.currentSrc || image.src

  const getImageKey = (div: Element, image: HTMLImageElement) =>
    div.getAttribute('data-image-key') || getImageSource(image)

  const markImageLoaded = (div: Element, image: HTMLImageElement) => {
    div.classList.add('image-loaded')

    const loadedImageSources = getLoadedImageSources()
    const key = getImageKey(div, image)
    if (key) {
      loadedImageSources.add(key)
    }

    const source = getImageSource(image)
    if (source) {
      loadedImageSources.add(source)
    }
  }

  function setupBlurImages() {
    const blurDivs = document.querySelectorAll('.blur-load')
    const loadedImageSources = getLoadedImageSources()

    blurDivs.forEach((div) => {
      const image = div.querySelector('img')

      if (!(image instanceof HTMLImageElement)) return

      const key = getImageKey(div, image)
      if (key && loadedImageSources.has(key)) {
        markImageLoaded(div, image)
        return
      }

      const handleLoadedImage = () => {
        markImageLoaded(div, image)
      }

      if (image.complete && image.naturalWidth > 0) {
        handleLoadedImage()
      } else {
        image.addEventListener('load', handleLoadedImage, { once: true })
      }
    })
  }

  // Run as early as possible and on every Astro navigation.
  setupBlurImages()
  document.addEventListener('astro:after-swap', setupBlurImages)
  document.addEventListener('astro:page-load', setupBlurImages)
</script>
