---
import Tweet from './Tweet.astro'
import getTweetContent from '@/pages/api/_services/tweetContent'

interface Props extends astroHTML.JSX.HTMLAttributes {
  tweetId: string
}

const { tweetId, class: className, ...restProps } = Astro.props

const data = await getTweetContent(tweetId)

if (!data) return
---

<div class:list={['not-prose flex', className]} {...restProps}>
  <Tweet tweet={data.tweet} />
</div>
